<div class="row ml-4 mt-4">
    <div class="col-12 mb-3">
        <span class="titulo"><img src="assets/user.png" class="mr-3 image" alt=""> Clients</span>
    </div>
    <div class="col-12 mt-3 mb-3 pl-5">
        <span class="item">Clients</span>
    </div>
    <div class="col-12 mt-3 mb-3 pl-5">
        <span class="item">Client look history</span>
    </div>
    <div class="col-12 mt-3 mb-3 pl-5">
        <span class="item">Emergency PIN configuration</span>
    </div>
    <div class="col-12 mt-3 mb-3 pl-5">
        <span class="item">Emergency PIN history</span>
    </div>
</div>